- from mootdx.quotes import Quotes

In [1]:
# from mootdx.quotes import Quotes

# client = Quotes.factory(market='std')
# client.quotes(symbol=["000001", "600300"])

,market,code,active1,price,last_close,open,high,low,servertime,reversed_bytes0,...,bid_vol5,ask_vol5,reversed_bytes4,reversed_bytes5,reversed_bytes6,reversed_bytes7,reversed_bytes8,reversed_bytes9,active2,volume
0,0,000001,4283,11.18,11.35,11.30,11.30,11.15,14:59:55.979,14998883,...,3309,1000,"(2774,)",0,0,0,0,0.09,4283,676577
1,1,600300,1316,3.01,3.03,3.03,3.04,3.00,15:00:00.000,15000000,...,610,4441,"(214,)",0,0,0,0,-0.32,1316,86769

In [3]:
from mootdx.quotes import Quotes
client = Quotes.factory(market='std')
# client.bars(symbol='600036', frequency=9, offset=10)

# 前复权
client.bars(symbol='600036', adjust='qfq', frequency=9, offset=1000)

# # 后复权
# client.bars(symbol='600036', adjust='hfq')

,open,close,high,low,vol,amount,year,month,day,hour,minute,datetime,volume,preclose,adj
2020-03-10 15:00:00,30.988373,31.432488,31.668141,30.888673,668298.0,2.309859e+09,2020.0,3.0,10.0,15.0,0.0,2020-03-10 15:00,7.373446e+05,NaN,0.906358
2020-03-11 15:00:00,31.504997,31.224026,31.713459,31.187771,566550.0,1.965764e+09,2020.0,3.0,11.0,15.0,0.0,2020-03-11 15:00,6.250843e+05,31.432488,0.906358
2020-03-12 15:00:00,31.151517,30.961182,31.350916,30.834292,619180.0,2.118258e+09,2020.0,3.0,12.0,15.0,0.0,2020-03-12 15:00,6.831519e+05,31.224026,0.906358
2020-03-13 15:00:00,29.728535,30.281414,30.417367,29.365992,1140957.0,3.748370e+09,2020.0,3.0,13.0,15.0,0.0,2020-03-13 15:00,1.258837e+06,30.961182,0.906358
2020-03-16 15:00:00,30.263286,28.704351,30.263286,28.677160,1066027.0,3.445337e+09,2020.0,3.0,16.0,15.0,0.0,2020-03-16 15:00,1.176166e+06,30.281414,0.906358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-16 15:00:00,33.860000,33.930000,34.040000,33.750000,426806.0,1.448460e+09,2023.0,6.0,16.0,15.0,0.0,2023-06-16 15:00,4.268060e+05,33.720000,1.000000
2023-06-19 15:00:00,33.910000,33.580000,33.910000,33.560000,278960.0,9.398840e+08,2023.0,6.0,19.0,15.0,0.0,2023-06-19 15:00,2.789600e+05,33.930000,1.000000
2023-06-20 15:00:00,33.500000,33.190000,33.560000,33.100000,307648.0,1.024392e+09,2023.0,6.0,20.0,15.0,0.0,2023-06-20 15:00,3.076480e+05,33.580000,1.000000
2023-06-21 15:00:00,33.060000,33.170000,33.640000,33.000000,427866.0,1.426165e+09,2023.0,6.0,21.0,15.0,0.0,2023-06-21 15:00,4.278660e+05,33.190000,1.000000
2023-06-26 15:00:00,32.930000,32.610000,33.100000,32.420000,432103.0,1.410658e+09,2023.0,6.0,26.0,15.0,0.0,2023-06-26 15:00,4.321030e+05,33.170000,1.000000